terraform.tfvars
**/.terraform
*.tfstate*
*.out
.gradle
**/.classpath/

*.iml
.idea
**/target

**/obj/
**/bin/
.vscode/

# Ignore Gradle project-specific cache directory
.gradle/
gradle/
app/
gradle/wrapper

# Ignore Gradle build output directory
build
